body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

form input {
    padding: 8px;
    margin: 5px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
